<div ng-include="'app/partials/header.html'" ng-controller="BasketCtrl" ng-init="loadState()"></div>
<!-- <header>Items {{itemsInBasketCount}}</header> -->

<div class="wrapper">
<form class="pizzaCreator" method="get" ng-submit="">
	<h1>{{creator.welcomeMessage}}</h1>

 	<div class="pizzaSize">
		<h2>Step1: Choose pizza size</h2>
		<ul>
			<li ng-repeat="base in pizzaSizes">
				<input 
					type="radio" 
					name="size" 
					id="{{'size-' + base.id}}" 
					value="{{base.id}}" 
					ng-model="$parent.order.size"
					ng-click="selectSize(base.id)"
					>
				<label for="{{'size-' + base.id}}">{{base.size}} ( {{base.price}} )</label>
			</li>
		</ul>
	</div>

	<div class="toppings" ng-show="pizza.size !== null">
		<h2>Step2: Choose toppings</h2>
		<small>Three cheapest toppings included in the pizza price!</small>
		<div class="desc">
			<span class="info vegan">V</span>Vegetarian
			<span class="info glutenFree">G</span>Gluten-free
			<span class="info hot">H</span>Hot & Spicy
		</div>
		<ul>
			<li 
				class="topping" 
				ng-repeat="topping in pizzaToppings"
				ng-class="{'selected': pizza.toppings.indexOf(topping) > -1}" 
				ng-click="toggleTopping(topping)"
				>
				<input 
					type="checkbox" 
					id="{{'topping-' + topping.id}}"
					name="toppings[]"
					value="{{topping.id}}"
					class="topping"
					ng-checked="creator.pizza.toppings.indexOf(topping) > -1"
				>
				<label for="{{'topping-' + topping.id}}" ng-bind="topping.name">
					
				</label> <small ng-bind-template="(&pound;{{topping.price}})"></small>
				<span class="info vegan" ng-show="topping.info[0]">V</span>
				<span class="info glutenFree" ng-show="topping.info[1]">G</span>
				<span class="info hot" ng-show="topping.info[2]">H</span>
			</li>
		</ul>
	</div>

	<div class="addToBasket" ng-show="(pizza.size !== null && pizza.toppings.length > 2)">
	<button class="addToBasket" ng-click="addToBasket()">Add to basket!</button></div>

	<h3 ng-model="order">Total: &pound;{{totalPrice}} </h3>
	
</form>
</div>